body {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgb(179, 103, 209) 27%, rgb(231, 204, 231) 75%);
}
#card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}
#display {
    width: 80%;
    border-radius: 20px 0 0 20px;
    background: rgba(255,255,255,.5);
    backdrop-filter: blur(30px) hue-rotate(20deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
  } * 
      {text-align: center;
    }
    #art {
      height: 300px;
      margin: 0 auto;
    }
  #list {
    width: 80%;
    border-radius: 0 20px 20px 0;
    background: transparent;
    display: flex;
    flex-direction: column;}

    
   item {
      padding: 0 1em;
      background: white;
      transition: all .3s ease;
  }:first-of-type {
        border-radius: 0 20px 0 0;
      }
    :last-of-type {
        border-radius: 0 0 20px 0;
      }
      .is-active {
        background: rgba(255,255,255,.5);
        backdrop-filter: blur(30px) hue-rotate(20deg);
        transition: all .3s ease;
      }
      :hover {
        cursor: pointer;
      }